@import "tailwindcss";

.modo-contraste {
  background-color: #000 !important;
  color: #fff !important;
}

.modo-contraste main {
  background-color: #000 !important;
  color: #fff !important;
}

.modo-contraste main h1,
.modo-contraste main h2,
.modo-contraste main h3,
.modo-contraste main p,
.modo-contraste main span,
.modo-contraste main strong,
.modo-contraste main a,
.modo-contraste main label {
  color: #fff !important;
}

.modo-contraste main article {
  background-color: #111 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}

.modo-contraste main button {
  background-color: #ff5a00 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}